.client {
  padding: 60px 0;

  @media (min-width: 1200px) {
    padding: 94px 0;
  }
}

// @media (max-width: 767px) {
.client__item {
  margin-top: 30px;
}

.client__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (min-width: 1200px) {
  .client__title {
    margin-bottom: 50px;
  }

  .client__list {
    display: flex;
    justify-content: center;
  }

  .client__item:not(:last-child) {
    margin-right: 30px;
  }
}

.client__link {
  display: flex;
  width: 210px;
  height: 90px;
  border: 1px solid var(--icon-grey);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  color: var(--icon-grey);

  &:hover,
  &:focus {
    color: var(--text-blue);
    border-color: var(--text-blue);
  }

  @media (min-width: 1200px) {
    width: 170px;
  }
}

.client__icon {
  fill: currentColor;
}
