.client {
  padding: 60px 0;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

.client__title {
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.client__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 0;
    margin-left: 0;
  }
}

.client__item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 60px) / 2);

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 90px) / 3);
  }

  @media screen and (min-width: 1200px) {
    margin-top: 0;
    margin-left: 0;

    &:not(:first-child) {
      margin-left: 30px;
    }
  }
}

.client__link {
  display: flex;
  // max-width: 210px;
  height: 90px;
  justify-content: center;
  align-items: center;
  color: var(--icon-grey);
  border: 1px solid var(--icon-grey);
  border-radius: 4px;

  &:hover,
  &:focus {
    color: var(--text-blue);
    border-color: var(--text-blue);
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}

.client__icon {
  fill: currentColor;
}
