.menu__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: var(--text-white);
  // z-index: 5;

  transform: translateX(101%);
  transition: transform 250ms var(--cubic);
}

.menu__container.is-open {
  transform: translateX(0);
}

.menu__button {
  padding: 0;
  margin-left: auto;
  border: transparent;
  outline: none;
  background-color: transparent;

  @media (min-width: 768px) {
    display: none;
  }
}

.menu__button:hover,
.menu__button:focus {
  fill: var(--text-blue);
}

.menu__button-close {
  display: flex;
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 0;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;

  border: transparent;
  background-color: transparent;
  outline: none;
}

.menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu__contact {
  margin-top: 302px;
}

.menu__contact-item:not(:first-child) {
  margin-top: 32px;
}

.menu__social {
  display: flex;
  margin-top: 64px;
  color: var(--text-blue);
}

.menu__social-link {
  display: flex;
}

.menu__social-icon {
  margin-left: 10px;
  margin-right: 10px;
}
