// .client {
//   padding: 94px 0;
// }

.client__title {
  margin-bottom: 50px;
}

.client__list {
  display: flex;
  justify-content: center;
}

.client__item:not(:last-child) {
  margin-right: 30px;
}

.client__link {
  display: flex;
  width: 170px;
  height: 90px;
  border: 1px solid var(--icon-grey);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  color: var(--icon-grey);

  &:hover,
  &:focus {
    color: var(--text-blue);
    border-color: var(--text-blue);
  }
}

.client__icon {
  fill: currentColor;
}
